[package]
edition = "2021"
name = "rmb-rs"
version = "0.1.0"

[[bin]]
name = "rmb"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.56"
thiserror = "1.0.31"
async-trait = "0.1.53"
bb8-redis = "0.11.0"
futures = "0.3"
hex = {version = "0.4", features = ["alloc"]}
hyper = {version = "0.14", features = ["full"]}
log = "0.4"
simple_logger = "2.1"
parity-scale-codec = {version = "2.0.0", features = ["derive"]}
serde = {version = "1.0.136", features = ["derive"]}
serde_json = {version = "1.0.81"}
sp-core = {version = "3.0.0", features = ["full_crypto"]}
sp-keyring = "3.0.0"
sp-runtime = "3.0.0"
substrate_client = {path = "substrate_client"}
tokio = {version = "1", features = ["full"]}
tokio-retry = "0.3"
http = "0.2.7"
uuid = {version = "1.1.0", features = ["v4"]}
md5 = "0.7.0"
clap = {version = "3.1", features = ["derive"]}
base64 = "0.13.0"
nix = "0.24.1"
git-version = "0.3.5"
# for static build
openssl = { version = "0.10", features = ["vendored"] }
fastrand = "1.7.0"
